<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Name="PostShow" Manufacturer="XBN Studios"
            Id="E590F234-129A-4443-96E4-7D3520E159F0"
            UpgradeCode="AE0E4D5F-86E7-49B3-8E49-4669DE5E5FBA"
            Language="1033" Version="3.0.2">
        <Package Id="*" Keywords="Installer"
                Description="XBN Studios' podcast encoding and tagging tool with support for chapters."
                Manufacturer="XBN Studios"
                InstallerVersion="100" Languages="1033" Compressed="yes" />
        <Icon Id="PostShow.ico" SourceFile="PostShow.ico" />
        <Media Id="1" Cabinet="PostShowV3.cab" EmbedCab="yes" />
        <Feature Id="Complete" Level="1">
            <ComponentGroupRef Id="All" />
            <ComponentRef Id="ProgramMenuDir" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="dirFC3B34A000EB7C3831EBA893F80C54CB" Name="PostShow">
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="PostShow">
                    <Component Id="ProgramMenuDir"
                               Guid="05F9EE57-0938-4C0C-BB62-90FC8CB92DE9">
                        <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
                        <RegistryValue Root="HKCU"
                                       Key="Software\[Manufacturer]\[ProductName]"
                                       Type="string" Value="" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

    </Product>
    <!-- Everything below here was originally auto-generated by:
        heat.exe dir . -cg All -out ..\..\All.wxs -template:product -gg
    -->
    <Fragment>
        <ComponentGroup Id="All">
            <Component Id="cmpF5C32FFCF6382C1EB3367F293019B641" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{897DFF97-8524-40FD-B1FF-43653D35F66E}">
                <File Id="fil736BD50F5A30415C623CD9DFA31756DC" KeyPath="yes" Source="Qt6Quick.dll" />
            </Component>
            <Component Id="cmpCF290D39C007FB1DF3B2E18ECEF89947" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{16EE8128-906E-4AE0-8122-9D396095B652}">
                <File Id="filFA721DAFA7944FCC6FF21EE248AFD9C1" KeyPath="yes" Source="VCRUNTIME140.dll" />
            </Component>
            <Component Id="cmp7CD7BEF191CF70F34D36E7BF1A65391B" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{07C735B2-0A2C-497D-ADDF-11EB0B6D02A0}">
                <File Id="filCDED027B0243529EFDD2DA004F664956" KeyPath="yes" Source="_hashlib.pyd" />
            </Component>
            <Component Id="cmp224AC77B74B14729BF89FE6CA8719F1F" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{43047070-969E-43A4-80D9-0A35D07194F1}">
                <File Id="filAF6F8C74F0C61A5A2E27BFFC5D39AF3A" KeyPath="yes" Source="python3.dll" />
            </Component>
            <Component Id="cmp7B33787C5100AE46F1F6021A56303E6B" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{7E7AEF46-C73F-4B0B-AF9F-0A02BE60EBED}">
                <File Id="fil70A124144FBEB8BBF3892583403A510D" KeyPath="yes" Source="Qt6VirtualKeyboard.dll" />
            </Component>
            <Component Id="cmp55828B65FFA52D7180EC8C290EFF695A" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{98CCB6E1-A7ED-44AE-A25B-3909962FAA18}">
                <File Id="filB266E611F27A8D06C34C1A6135E097E1" KeyPath="yes" Source="Qt6Gui.dll" />
            </Component>
            <Component Id="cmpFFA75AD2108EBDBEF6DB57E021D2172E" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{C2494B3C-56F6-435E-B53D-7EBAFDABF6B5}">
                <File Id="fil057B516ABF495EA646D26CC36D909B43" KeyPath="yes" Source="pyside6.abi3.dll" />
            </Component>
            <Component Id="cmpD8DF9F18219ADDA94EF50F7529435139" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{6C8652D6-528A-4194-B856-3803A9DB177F}">
                <File Id="fil7EFBD27717C017AABB9805AE38EB85CA" KeyPath="yes" Source="libcrypto-1_1.dll" />
            </Component>
            <Component Id="cmpE9C567E7C24FAAE76AE9E374DB21774D" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{2314B8C8-0DF2-49D0-81AA-8614890B24E9}">
                <File Id="filEF9F7C18522A3A9AE31B46B84CF98FD3" KeyPath="yes" Source="MSVCP140_1.dll" />
            </Component>
            <!-- The GUID here was changed from the auto-generated one to match the one I had already made for testing -->
            <Component Id="cmpF62673AFC1B3B63C104B15B59E2E280A" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{AA042FCF-806C-4E59-AB61-F1EED25B48A7}">
                <File Id="fil06117111E71EA722BD998A5CD437DBEB" KeyPath="yes" Source="python310.dll" />
            </Component>
            <Component Id="cmpCDAB8702A545D3EC46F05C998BC2D49A" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{D7B9FAC2-B0B4-4A86-85CE-C3B56A62928E}">
                <File Id="fil92FDA21450B15B1CDEC726553C2E1054" KeyPath="yes" Source="Qt6Widgets.dll" />
            </Component>
            <Component Id="cmp154B5E40DE8DAEC03013D09EBA9A11F0" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{4C9128F9-E02A-43BD-826D-4BB453378284}">
                <File Id="filEBB7460D75B305C6EBC72215C89178B2" KeyPath="yes" Source="MSVCP140_2.dll" />
            </Component>
            <Component Id="cmp7EE30D05AD3B461F649D98A1EC6CD257" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{D214C92F-4894-4742-96C0-B99880C15492}">
                <File Id="fil689BE69ED7512B295E0BF8FFA2A6C900" KeyPath="yes" Source="shiboken6.abi3.dll" />
            </Component>
            <Component Id="cmpB51E1E74BB257C2BE4014629FC61EC38" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{51DA6C4F-1560-4DE5-9061-A523661477A2}">
                <File Id="filE50AE45C4824118B183CDBAABE02C4F7" KeyPath="yes" Source="Qt6Qml.dll" />
            </Component>
            <Component Id="cmpC08DAB96248B784BA60E869B15D403BF" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{CC116AA2-9179-4D9D-9DD0-1D88DE9BDDE5}">
                <File Id="fil1093857D0372660E6A888A38C18B187E" KeyPath="yes" Source="base_library.zip" />
            </Component>
            <Component Id="cmpFD1FA100A8699BB8E869E3AFAE0DEB10" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{0AD8ADC9-26CE-40A2-BD6E-1069AD05E7F0}">
                <File Id="fil08A463ECB2A7708553AA656973D3536E" KeyPath="yes" Source="_lzma.pyd" />
            </Component>
            <Component Id="cmp9ED03584E884399B7442A23A84344A52" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{73C01AE8-A922-4911-9262-87D76F8E81B8}">
                <File Id="filD4AE6EE85F9AF693523BDC867929BA46" KeyPath="yes" Source="Qt6Svg.dll" />
            </Component>
            <Component Id="cmp5F40685DB464B5CA4B04AC6FFB676A54" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{800FF065-BF0E-4F43-BB6B-0C3E80B60CF8}">
                <File Id="filD5306455B630BC1D00185F07ADF39013" KeyPath="yes" Source="VCRUNTIME140_1.dll" />
            </Component>
            <Component Id="cmpDB81713FD0F9CF92F501746DB4DA5D75" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{7C05C637-2A02-42FF-9920-13E9748C17DD}">
                <File Id="filE590AA1BB2C31A410A7875DA6D57ADB0" KeyPath="yes" Source="Qt6Network.dll" />
            </Component>
            <Component Id="cmpE06944A78598BCCED25F6A0E73A5E57D" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{F9D51E9F-48AB-4DFF-9D96-567DD27CE432}">
                <File Id="fil905015F584A1C220256B395C5A210D42" KeyPath="yes" Source="opengl32sw.dll" />
            </Component>
            <Component Id="cmp9857CF5413ACF680D25A39949C4F0A07" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{98B42078-AA51-42F9-B81F-7B1C00078020}">
                <File Id="fil193FF5AE1A84E8E9BFBE12A0CD8087D8" KeyPath="yes" Source="_socket.pyd" />
            </Component>
            <Component Id="cmp032A768FBA5235FB82E71C0C1067B91C" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{0D0EADE3-65E4-44EC-B5C0-E82E42EFE828}">
                <File Id="fil1DA6DD0EC9669C069F731ABBCDF3C1BF" KeyPath="yes" Source="Qt6QmlModels.dll" />
            </Component>
            <Component Id="MainExecutable"
                       Guid="72570050-A1DE-40AB-B473-08279C9D8679"
                       Directory="dirFC3B34A000EB7C3831EBA893F80C54CB">
                <File Id="PostShowEXE" Name="PostShow.exe" DiskId="1"
                      Source="PostShow.exe" KeyPath="yes">
                    <Shortcut Id="startmenuPostShow"
                              Directory="ProgramMenuDir" Name="PostShow"
                              WorkingDirectory="dirFC3B34A000EB7C3831EBA893F80C54CB"
                              Icon="PostShow.ico" IconIndex="0"
                              Advertise="yes" />
                    <Shortcut Id="desktopPostShow" Directory="DesktopFolder"
                              Name="PostShow" WorkingDirectory="dirFC3B34A000EB7C3831EBA893F80C54CB"
                              Icon="PostShow.ico" IconIndex="0"
                              Advertise="yes" />
                </File>
            </Component>
            <Component Id="cmp0F8317948BAFF405DB7B539D92322E19" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{682FCE47-BF1F-4AD7-81AC-12DADF3B1DFA}">
                <File Id="filAADA90AFAA770CC555C8B7093FBE2827" KeyPath="yes" Source="PostShow.ico" />
            </Component>
            <Component Id="cmpC7A6FA986DB429CF05FBCF9D94D5B087" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{771B3BC6-ABEE-4BDF-98CD-6371EA57CA52}">
                <File Id="fil06328F4FE65358F713942D33A7AA9216" KeyPath="yes" Source="_bz2.pyd" />
            </Component>
            <Component Id="cmp0E911C2B2C6C1F6A41C70445E6EDA111" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{42959534-F074-48EF-99DC-D16968606E72}">
                <File Id="filDBC53FE4B12FC02880FB6FCD683F6A6A" KeyPath="yes" Source="Qt6Core.dll" />
            </Component>
            <Component Id="cmp8F07A90386184D9B19AB1E515C93AC54" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{B95E9641-F722-49D4-9A2A-8CAAA9BC0360}">
                <File Id="fil9D5A8EC079A01A7B82B3B12587BD02F8" KeyPath="yes" Source="select.pyd" />
            </Component>
            <Component Id="cmpE17925B7947B79F24E18EEEC7E28E305" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{30993CCE-A2A0-4E22-877C-ECD0486000AE}">
                <File Id="fil2B1CD6A45756B349F3E14A7CA747CABD" KeyPath="yes" Source="MSVCP140.dll" />
            </Component>
            <Component Id="cmp02B9DDDE969C9AA1ED749C37755E1501" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{FFA4C315-FF4E-4B14-8E61-BA91E2A45DA8}">
                <File Id="fil562AB0C34F700D9579FEE8E5A7F3C3F1" KeyPath="yes" Source="_decimal.pyd" />
            </Component>
            <Component Id="cmp32B9C1D7EAA63C0A039B2F0C8186B735" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{42F4132A-6595-48AB-8F0D-07184B352FE3}">
                <File Id="fil8E249C41F47D7F95E89B316E4A0FA366" KeyPath="yes" Source="unicodedata.pyd" />
            </Component>
            <Component Id="cmp29DEF6D71AF18C32CAB242A0ABF6B762" Directory="dirFC3B34A000EB7C3831EBA893F80C54CB" Guid="{AF45216C-9710-4BCF-A6DE-38548AAC48A3}">
                <File Id="fil92D8DF89477472C047EA860A071481A7" KeyPath="yes" Source="Qt6OpenGL.dll" />
            </Component>
            <Component Id="cmp14DFCDD7298265102AC58C3957B66C91" Directory="dirA8D513DE60C4BAD2AAEA7F26B016B903" Guid="{B43B519B-C411-4CDD-87CD-0004156D99E3}">
                <File Id="fil214D45042726F490F9E8DAAC60B339EE" KeyPath="yes" Source="shiboken6\Shiboken.pyd" />
            </Component>
            <Component Id="cmp178B73E947047495ABE5036487F221B1" Directory="dirF9B43450E46D129D5610BB3EF7180C44" Guid="{62BD8C82-1410-4181-9205-5A9C205CBBCC}">
                <File Id="fil6F4009FB738E48D83CCBE2E39D435789" KeyPath="yes" Source="PySide6\QtGui.pyd" />
            </Component>
            <Component Id="cmpD2F2EDB6736133ED6A61281FB26E1ACE" Directory="dirF9B43450E46D129D5610BB3EF7180C44" Guid="{52832BE5-1ACB-4376-A933-9314B1666A92}">
                <File Id="fil9F4C270C5F9EBEAFBBD8EACB07AD9008" KeyPath="yes" Source="PySide6\QtCore.pyd" />
            </Component>
            <Component Id="cmp09C55022EB9723231B53C187E2D0FEE5" Directory="dirF9B43450E46D129D5610BB3EF7180C44" Guid="{5A2F3034-A8E0-4EB0-AD0E-914281FCB9F6}">
                <File Id="fil849DDFBEF0327AF1EC0B641964DEE5F7" KeyPath="yes" Source="PySide6\QtNetwork.pyd" />
            </Component>
            <Component Id="cmp99EB3BB97C0CDDB014C62C3A00532096" Directory="dirF9B43450E46D129D5610BB3EF7180C44" Guid="{21B5302A-C5AD-4F28-81B5-BF24DB413343}">
                <File Id="fil53D7320E997DBEEA45E822948FE0E1B5" KeyPath="yes" Source="PySide6\QtWidgets.pyd" />
            </Component>
            <Component Id="cmp3EAEA4A73E0F2497BD32A4981D1DE220" Directory="dirABA23258508ED7B0820649E34C9EF32F" Guid="{B81BE75D-F637-412E-81DC-0FD541892B5B}">
                <File Id="filCEAFB599D84951757EC2C8C08C45F6AE" KeyPath="yes" Source="PySide6\plugins\platforminputcontexts\qtvirtualkeyboardplugin.dll" />
            </Component>
            <Component Id="cmp3807E5EC72EC8E0FA4AE8B54E5F9899B" Directory="dir2D8330770A657DBE969599AF7273E782" Guid="{04A83811-E1C9-435E-B297-DAAD807C8562}">
                <File Id="fil8F65A415612F1993AF9D5D9981CA14D4" KeyPath="yes" Source="PySide6\plugins\platforms\qoffscreen.dll" />
            </Component>
            <Component Id="cmpE3858E87654F1D4C075CE7F57809033E" Directory="dir2D8330770A657DBE969599AF7273E782" Guid="{EE7B267A-94B6-470C-9FD4-4AFAE2C1F6B7}">
                <File Id="fil74AE7935ED4E184876E2132812E67F50" KeyPath="yes" Source="PySide6\plugins\platforms\qdirect2d.dll" />
            </Component>
            <Component Id="cmp1BFB6A005F3F59D8300267AE7E2C34B9" Directory="dir2D8330770A657DBE969599AF7273E782" Guid="{7A36E232-79F3-4CF2-A81F-57EB65E5C086}">
                <File Id="fil0A1379F06CC0386D7EA94A86A67ED4E1" KeyPath="yes" Source="PySide6\plugins\platforms\qwindows.dll" />
            </Component>
            <Component Id="cmpA816DD607F05BD427226D6DDB7946EE0" Directory="dir2D8330770A657DBE969599AF7273E782" Guid="{B4E01862-9347-49D4-A6D8-D6F7AE8D8E13}">
                <File Id="filB6B71F49C86ECE7065D0A27580224636" KeyPath="yes" Source="PySide6\plugins\platforms\qminimal.dll" />
            </Component>
            <Component Id="cmpAA645F0A857C15DF5CAB01D95C926808" Directory="dirC580C7CF6B3C2A702DE2D5D90046756A" Guid="{431CC80E-CFC0-4782-A922-C1DAE75FC4F4}">
                <File Id="filE30F8DEF2C59F2629D8B464551C77EA2" KeyPath="yes" Source="PySide6\plugins\styles\qwindowsvistastyle.dll" />
            </Component>
            <Component Id="cmp3D24412645250A6DDF6723C36464988D" Directory="dir0A962BA2A17026D76FB753FA6A8EE52F" Guid="{952A0616-1773-4386-AE12-595CB83238B4}">
                <File Id="fil8A63873EA7828013C2E66F6D7D2A0BE7" KeyPath="yes" Source="PySide6\plugins\tls\qcertonlybackend.dll" />
            </Component>
            <Component Id="cmp1427F91DE1C780A76FBDE8C825A30EF6" Directory="dir0A962BA2A17026D76FB753FA6A8EE52F" Guid="{79BA880D-D9A3-45F8-B089-298B7DFB7A3C}">
                <File Id="fil160AA8C0902DEECBF9E175787982DAD1" KeyPath="yes" Source="PySide6\plugins\tls\qschannelbackend.dll" />
            </Component>
            <Component Id="cmpE2479CDAEA50FC0F65CBCA3C29A05BD5" Directory="dir0A962BA2A17026D76FB753FA6A8EE52F" Guid="{B054BDF5-9554-4694-876D-3938DCD714E4}">
                <File Id="filB68711500E93FC0A1721E70C9188F8DA" KeyPath="yes" Source="PySide6\plugins\tls\qopensslbackend.dll" />
            </Component>
            <Component Id="cmpF64335FA730307E6C89943A015793CEB" Directory="dirBF25216EB58C29CB0205659458469C35" Guid="{4000C3B8-1DE8-43ED-9B7E-D7ED4C22F040}">
                <File Id="filD983055E0D9748FE2D0EA5DB337694C6" KeyPath="yes" Source="PySide6\plugins\iconengines\qsvgicon.dll" />
            </Component>
            <Component Id="cmp9B82683AA0E2745BFDE99F04DD7C23E3" Directory="dir794747BA047E2C0F133D543174106C83" Guid="{5E56E38A-00C4-46B0-A986-01DD72CC4A69}">
                <File Id="filACAE7C355A4EEACC9A3508567B71F44F" KeyPath="yes" Source="PySide6\plugins\imageformats\qico.dll" />
            </Component>
            <Component Id="cmpACFDD83B67892A9C39CF49030D5C1DA6" Directory="dir794747BA047E2C0F133D543174106C83" Guid="{258B0353-75A8-4197-BDC4-6D2D5BA6581E}">
                <File Id="fil95FD7F5FF795EE5A2B82AEE2B39F480D" KeyPath="yes" Source="PySide6\plugins\imageformats\qicns.dll" />
            </Component>
            <Component Id="cmp3D0B6FFA6E701940461E6F4CFECE16E9" Directory="dir794747BA047E2C0F133D543174106C83" Guid="{DF7A65F7-778F-4BC9-8644-454A738324E7}">
                <File Id="fil537357CCFC305E45B9AB1C73BEF43E2A" KeyPath="yes" Source="PySide6\plugins\imageformats\qjpeg.dll" />
            </Component>
            <Component Id="cmp444CC73CC96F71F187C4E26AE5DDED83" Directory="dir794747BA047E2C0F133D543174106C83" Guid="{0D14F72C-9F78-4140-9CB6-DA085DADE6DC}">
                <File Id="filD993CB59C4F2719DCDE93D35D8A3F27C" KeyPath="yes" Source="PySide6\plugins\imageformats\qtga.dll" />
            </Component>
            <Component Id="cmp12925E906569835A99595D66486B21A5" Directory="dir794747BA047E2C0F133D543174106C83" Guid="{B4D72797-5BD2-4D82-B703-FF67D7288951}">
                <File Id="fil489FC13E69672E871CB8751A7276FD15" KeyPath="yes" Source="PySide6\plugins\imageformats\qwebp.dll" />
            </Component>
            <Component Id="cmpBE28D875907C0C386B85FEEFAB113671" Directory="dir794747BA047E2C0F133D543174106C83" Guid="{44E8FE3F-75C0-4808-9900-A5AC05ED19FC}">
                <File Id="filE3FB76174CC7E7BCB3EF3E997EAA61B2" KeyPath="yes" Source="PySide6\plugins\imageformats\qgif.dll" />
            </Component>
            <Component Id="cmpAA24105427B57D056F81283121CF8AE3" Directory="dir794747BA047E2C0F133D543174106C83" Guid="{B8DB4B2F-E417-4281-A828-8AC1673EC18B}">
                <File Id="fil0602111A6E4F4B2901639806B146B54B" KeyPath="yes" Source="PySide6\plugins\imageformats\qsvg.dll" />
            </Component>
            <Component Id="cmp5641415926EF8F06AC0AE1ACE518B72E" Directory="dir794747BA047E2C0F133D543174106C83" Guid="{741562E4-D4CD-4C6C-B19B-B9C22FFF8EFC}">
                <File Id="fil0B2A14C8E48FE409B36E3EDCED6092E7" KeyPath="yes" Source="PySide6\plugins\imageformats\qtiff.dll" />
            </Component>
            <Component Id="cmp70EB9F0A04C84ACB79C81D8B9FC25F0F" Directory="dir794747BA047E2C0F133D543174106C83" Guid="{56B510BF-FE08-40E4-A93E-A8DE20815DAD}">
                <File Id="fil76120470E5CC584863EF5E3401419F86" KeyPath="yes" Source="PySide6\plugins\imageformats\qpdf.dll" />
            </Component>
            <Component Id="cmpAD0B15DC72DA4166736169B37ECE5D1E" Directory="dir794747BA047E2C0F133D543174106C83" Guid="{33C26821-1543-4A12-9AF4-F839801F361E}">
                <File Id="fil2BFFB3B05D3B9E3D6DC34CB0C3580687" KeyPath="yes" Source="PySide6\plugins\imageformats\qwbmp.dll" />
            </Component>
            <Component Id="cmp3DD022FF875E412F5B952255595A4809" Directory="dir2286FB16C9253A2852FA85DCD60A4EC4" Guid="{C20E65FB-1940-45A8-89CA-1D80293A52D2}">
                <File Id="filD2A7D2B5DB5A00325B40AB70B49E9010" KeyPath="yes" Source="PySide6\plugins\networkinformation\qnetworklistmanager.dll" />
            </Component>
            <Component Id="cmpA0DE9EFC8443EDF757DC25D4A55CBE64" Directory="dirE325ACA02785760C013B048724280C20" Guid="{38F6F19C-D4F0-425C-A539-D622F3B6FE13}">
                <File Id="fil5375494AE855622B015E1E212E074C56" KeyPath="yes" Source="PySide6\translations\qtbase_he.qm" />
            </Component>
            <Component Id="cmpB2DCF9CDB441F3CA69899CF5E6265615" Directory="dirE325ACA02785760C013B048724280C20" Guid="{7939CA24-727E-4C19-8BE8-4CAD1CEF72D4}">
                <File Id="fil9CD6448E8136EE902499FC08BC0881FE" KeyPath="yes" Source="PySide6\translations\qtbase_bg.qm" />
            </Component>
            <Component Id="cmp7A6D451BC8ED7D458FA94A33E95FED52" Directory="dirE325ACA02785760C013B048724280C20" Guid="{17C80121-791A-42D5-97E0-DA2A0AD1AE3F}">
                <File Id="fil0E87D1EDCE942D80C2027AFC6D9129EA" KeyPath="yes" Source="PySide6\translations\qtbase_ja.qm" />
            </Component>
            <Component Id="cmpC8604931DE811F8F5BDC84060224F434" Directory="dirE325ACA02785760C013B048724280C20" Guid="{075D4FB3-30B1-4515-943E-106EAFC94CB0}">
                <File Id="fil22887FAC8F7432CF0F7D2D03DD727E8E" KeyPath="yes" Source="PySide6\translations\qtbase_ru.qm" />
            </Component>
            <Component Id="cmpCF918E9D12F72371C771A85FC1F7652C" Directory="dirE325ACA02785760C013B048724280C20" Guid="{20F6D648-5787-466E-93E1-56AC740AEC59}">
                <File Id="fil1B03C7304AAB54C7D5632CC076418C18" KeyPath="yes" Source="PySide6\translations\qtbase_fi.qm" />
            </Component>
            <Component Id="cmp99EBF7533BE813B080F7A740D76A8958" Directory="dirE325ACA02785760C013B048724280C20" Guid="{664185A8-2951-4711-B040-E3C56AAD1B3A}">
                <File Id="fil83AFB3BBE5B21FE9E0B3A1B2629F2F4B" KeyPath="yes" Source="PySide6\translations\qtbase_hr.qm" />
            </Component>
            <Component Id="cmpFDDA97DE41F4E27780A01020C1A44932" Directory="dirE325ACA02785760C013B048724280C20" Guid="{DF982607-FA55-4642-A57C-8D9E5CAB010A}">
                <File Id="fil82FB263DABBA986148ADD6ED40B4B54D" KeyPath="yes" Source="PySide6\translations\qtbase_ko.qm" />
            </Component>
            <Component Id="cmp996B6DD2C8AD440C0BA6D0086CBF92D7" Directory="dirE325ACA02785760C013B048724280C20" Guid="{8FD87814-6B1A-4F56-842A-B31D7ACC8F7A}">
                <File Id="fil6E4AFC0027BD0A1AF4FD13277404AE40" KeyPath="yes" Source="PySide6\translations\qtbase_nn.qm" />
            </Component>
            <Component Id="cmpB0205F0A81E3228EC404213446B546A9" Directory="dirE325ACA02785760C013B048724280C20" Guid="{2B3B1766-33C6-4BA4-A98D-CAA6AA40F36A}">
                <File Id="fil227C84327166E611A5FFFC35FF2D4EB3" KeyPath="yes" Source="PySide6\translations\qtbase_pl.qm" />
            </Component>
            <Component Id="cmp451C51782B1A0CE3727384D411FC7A36" Directory="dirE325ACA02785760C013B048724280C20" Guid="{93D234BC-E17D-4EC1-887E-81C8F8B3B8FD}">
                <File Id="filC0AA8307D5D34A657426286FACF612DE" KeyPath="yes" Source="PySide6\translations\qtbase_lv.qm" />
            </Component>
            <Component Id="cmp9751334D671ED5B93A0235EEED0B1247" Directory="dirE325ACA02785760C013B048724280C20" Guid="{34B50518-ACF4-4C85-9C74-7F06A7FEC808}">
                <File Id="filF19540C2EF256D06625C155037EEE1B4" KeyPath="yes" Source="PySide6\translations\qtbase_zh_CN.qm" />
            </Component>
            <Component Id="cmpE4ED17B015FA5D78407BFBD475D27D0F" Directory="dirE325ACA02785760C013B048724280C20" Guid="{1454C89E-69D7-41A3-BD2E-DAA5DB8BE467}">
                <File Id="fil4C565DD0A1DE5D48893716261FEC56C4" KeyPath="yes" Source="PySide6\translations\qtbase_tr.qm" />
            </Component>
            <Component Id="cmp828AF706C60DC3D776768EA6B4963F0E" Directory="dirE325ACA02785760C013B048724280C20" Guid="{05EFFCFD-3DDE-4860-9344-C8BE940378F4}">
                <File Id="filB7979C3119F2691EC740275E062B1C6A" KeyPath="yes" Source="PySide6\translations\qtbase_es.qm" />
            </Component>
            <Component Id="cmp6C9F321CF705673E62976219D2999208" Directory="dirE325ACA02785760C013B048724280C20" Guid="{71CE0716-E6BD-4980-9E11-90EDF18F8E5E}">
                <File Id="fil100D6D13A12281324D95930B49B9B244" KeyPath="yes" Source="PySide6\translations\qtbase_sk.qm" />
            </Component>
            <Component Id="cmp47653EEE004C775B18830C7616182DD1" Directory="dirE325ACA02785760C013B048724280C20" Guid="{B85C223E-F18B-4D56-A0D1-BCD6B3B0424F}">
                <File Id="filCD9A237835E1603AFFD7FE3A4C127801" KeyPath="yes" Source="PySide6\translations\qtbase_it.qm" />
            </Component>
            <Component Id="cmpDAD3C5036A037E3ED1F658858F5FFFA8" Directory="dirE325ACA02785760C013B048724280C20" Guid="{43B057D7-06A7-4875-8393-0C2EFEA6E662}">
                <File Id="fil7DFFA20853B53C052B5B0B77CFFCE791" KeyPath="yes" Source="PySide6\translations\qtbase_ar.qm" />
            </Component>
            <Component Id="cmp30CBE80FE82F6B605CD7C64F2AC97EB0" Directory="dirE325ACA02785760C013B048724280C20" Guid="{9F6791E4-C24C-4B9A-ADB1-BB57E78417E0}">
                <File Id="fil6CDA6F80DCA35A6C9B0A8A90C7001C3C" KeyPath="yes" Source="PySide6\translations\qtbase_hu.qm" />
            </Component>
            <Component Id="cmp6BAED430B07FF2CDCAFC6C10A8CC7FD0" Directory="dirE325ACA02785760C013B048724280C20" Guid="{BC5266E0-A020-49CF-8D6D-9120844814F3}">
                <File Id="fil03B5F1B62D115F5ABD5F8A045B5D9ED7" KeyPath="yes" Source="PySide6\translations\qtbase_fr.qm" />
            </Component>
            <Component Id="cmpBBF7F8360DC91C6B2FDA50F18440D49F" Directory="dirE325ACA02785760C013B048724280C20" Guid="{E0B9107A-6D51-4D98-999B-67ACD1C1C036}">
                <File Id="filEEC95D7F6D25ECAD0A0347A14E3173F5" KeyPath="yes" Source="PySide6\translations\qtbase_nl.qm" />
            </Component>
            <Component Id="cmp77909E7E799118BEC5608BA4E04A06C7" Directory="dirE325ACA02785760C013B048724280C20" Guid="{CDB579B7-6811-43C7-8AC0-5677073E99E9}">
                <File Id="filD7C7C6610416382550B974319C43C142" KeyPath="yes" Source="PySide6\translations\qtbase_cs.qm" />
            </Component>
            <Component Id="cmp24842064743BED2BC19D0909101379ED" Directory="dirE325ACA02785760C013B048724280C20" Guid="{F4E8CB54-03D5-41A3-B119-A0C0F30C891E}">
                <File Id="filCB6F3CB8F897B99923B949A62C0B1BBF" KeyPath="yes" Source="PySide6\translations\qtbase_uk.qm" />
            </Component>
            <Component Id="cmp84692FEFEE6F29298DF0338A448D0E32" Directory="dirE325ACA02785760C013B048724280C20" Guid="{0C98BDBC-9D5F-4972-B1FC-C5714F1423DA}">
                <File Id="fil7CBAF13791E1E22C379B54C2CCFD8640" KeyPath="yes" Source="PySide6\translations\qtbase_en.qm" />
            </Component>
            <Component Id="cmp77E3D0D7557BA412E522D372BEF1CB94" Directory="dirE325ACA02785760C013B048724280C20" Guid="{F5D0828F-C7CD-4C3F-BE77-C6E9DF1CB73B}">
                <File Id="fil7CCE8DDC2D35D8514AC1A8BFF1A10483" KeyPath="yes" Source="PySide6\translations\qtbase_pt_BR.qm" />
            </Component>
            <Component Id="cmp9452B592075C58CFB478399F1EC26E53" Directory="dirE325ACA02785760C013B048724280C20" Guid="{CD622508-E36A-4EB3-881C-B555A2EA7858}">
                <File Id="fil5CA1EE9787BAF77A3D2726D1C2C97036" KeyPath="yes" Source="PySide6\translations\qtbase_zh_TW.qm" />
            </Component>
            <Component Id="cmpE6C751441273D745429303B0045D765C" Directory="dirE325ACA02785760C013B048724280C20" Guid="{1615AF47-61ED-4DB5-8FDD-03B11259943C}">
                <File Id="filF6CC9AFAAAA32F70FCDCD1C54FB8E1C6" KeyPath="yes" Source="PySide6\translations\qtbase_de.qm" />
            </Component>
            <Component Id="cmp81B9D3DC099226D924D437EC1AB724C8" Directory="dirE325ACA02785760C013B048724280C20" Guid="{EF79CF81-2B6D-4E50-9131-C528544905A5}">
                <File Id="filEF7F94F2370A135FD3BF19476D0D1558" KeyPath="yes" Source="PySide6\translations\qtbase_fa.qm" />
            </Component>
            <Component Id="cmp070CCAE66360817C5384C2CDE134A49E" Directory="dirE325ACA02785760C013B048724280C20" Guid="{2F1DD7FB-9179-4CB9-B521-51B9AC2B1945}">
                <File Id="filB1C5703B47BB2A45FB72FF112D4E9580" KeyPath="yes" Source="PySide6\translations\qtbase_da.qm" />
            </Component>
            <Component Id="cmpACABBD3A2375C1DD5CC9F203A655A027" Directory="dirE325ACA02785760C013B048724280C20" Guid="{0CDA5353-971E-42F4-BDDA-F5A1D986E7DB}">
                <File Id="fil060078E67F0694568C879F184D0817F6" KeyPath="yes" Source="PySide6\translations\qtbase_gd.qm" />
            </Component>
            <Component Id="cmp717FE0D2DFE00DB3357C35F6D21DFC49" Directory="dirE325ACA02785760C013B048724280C20" Guid="{42E06D6A-7D41-4FE0-9214-8277F78E0947}">
                <File Id="fil0360A88A8E8296053E9AF86D0B136DDB" KeyPath="yes" Source="PySide6\translations\qtbase_ca.qm" />
            </Component>
            <Component Id="cmp5FD7537522F5247DAFCB2A65C42CC842" Directory="dirAF2213578AA6BBB7A1477C23E64356B3" Guid="{666CF31D-0D4E-4514-AB4B-5504E9DAF1A5}">
                <File Id="filB82E6BA5A34C6D06CF6F30DD35F8CFD0" KeyPath="yes" Source="data\template_config.ini" />
            </Component>
            <Component Id="cmpB592FC31938116F0136A8260836124A3" Directory="dir0C7464D7D4DBA630A49E9C3C4E2A6293" Guid="{68B421DC-F42C-41B4-B162-095BB8F51D6F}">
                <File Id="filE021E5F56B30BBDD0C6A7EBA629535D0" KeyPath="yes" Source="vendor\lame.exe" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6FC76F79A8DD540CDD6BD6841D596738">
            <Directory Id="dir0A962BA2A17026D76FB753FA6A8EE52F" Name="tls" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFC3B34A000EB7C3831EBA893F80C54CB">
            <Directory Id="dir0C7464D7D4DBA630A49E9C3C4E2A6293" Name="vendor" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6FC76F79A8DD540CDD6BD6841D596738">
            <Directory Id="dir2286FB16C9253A2852FA85DCD60A4EC4" Name="networkinformation" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6FC76F79A8DD540CDD6BD6841D596738">
            <Directory Id="dir2D8330770A657DBE969599AF7273E782" Name="platforms" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF9B43450E46D129D5610BB3EF7180C44">
            <Directory Id="dir6FC76F79A8DD540CDD6BD6841D596738" Name="plugins" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6FC76F79A8DD540CDD6BD6841D596738">
            <Directory Id="dir794747BA047E2C0F133D543174106C83" Name="imageformats" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFC3B34A000EB7C3831EBA893F80C54CB">
            <Directory Id="dirA8D513DE60C4BAD2AAEA7F26B016B903" Name="shiboken6" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6FC76F79A8DD540CDD6BD6841D596738">
            <Directory Id="dirABA23258508ED7B0820649E34C9EF32F" Name="platforminputcontexts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFC3B34A000EB7C3831EBA893F80C54CB">
            <Directory Id="dirAF2213578AA6BBB7A1477C23E64356B3" Name="data" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6FC76F79A8DD540CDD6BD6841D596738">
            <Directory Id="dirBF25216EB58C29CB0205659458469C35" Name="iconengines" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6FC76F79A8DD540CDD6BD6841D596738">
            <Directory Id="dirC580C7CF6B3C2A702DE2D5D90046756A" Name="styles" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirF9B43450E46D129D5610BB3EF7180C44">
            <Directory Id="dirE325ACA02785760C013B048724280C20" Name="translations" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirFC3B34A000EB7C3831EBA893F80C54CB">
            <Directory Id="dirF9B43450E46D129D5610BB3EF7180C44" Name="PySide6" />
        </DirectoryRef>
    </Fragment>
</Wix>